{% load static %}
<!-- para el favicon -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos360 Ec</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- nombre url, path del estatico -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
</head>

<body>

    <div class="container my-3">
        <!-- y .. eje y, vertical -->
        <h3>Sumérgete en tu zona !</h3>



        <nav class="navbar navbar-expand-lg bg-body-tertiary my-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Eventos360 Ec</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registro_usuario' %}">Registrar usuario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inicio_sesion' %}">Iniciar sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Quienes somos?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQs</a>
                        </li>


                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Búsqueda" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        {% if username %}
        <p style="text-align: center;">Bienvenido, {{ username }}!</p>
        <a href="{% url 'cerrar_sesion' %}">
            <p style="text-align: center;">Cerrar sesión</p>
        </a>
        {% else %}
        <p style="text-align: center;">Bienvenido, explorador</p>
        {% endif %}

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for p in productos %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{p.imagen.url}}" class="card-img-top" alt="..." height="275px">
                    <div class="card-body">
                        <h5 class="card-title">{{p.nombre}}</h5>
                        <p class="card-text">{{p.descripcion}}</p>
                        <p class="card-text">{{p.fecha}} </p>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>

    </div>



</body>

</html>